Inserter/Service References/ServiceReference1/StudentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eltayeb2-001-site1.gtempurl.com/students/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ISchool.WebService.Students" />
  <xs:element name="GetAllStudentByRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Start" type="xs:int" />
        <xs:element minOccurs="0" name="End" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStudentByRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ISchool.WebService.Students" minOccurs="0" name="GetAllStudentByRangeResult" nillable="true" type="q1:ArrayOfStudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentWithAcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WACC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentWithAccResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ISchool.WebService.Students" minOccurs="0" name="GetStudentWithAccResult" nillable="true" type="q2:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentWithLikleyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LNAME" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentWithLikleyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ISchool.WebService.Students" minOccurs="0" name="GetStudentWithLikleyNameResult" nillable="true" type="q3:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>