Inserter/Service References/ServiceReference1/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://eltayeb2-001-site1.gtempurl.com/students/StudentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://eltayeb2-001-site1.gtempurl.com/students/StudentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://eltayeb2-001-site1.gtempurl.com/students/StudentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ISchool.WebService.Students" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_GetAllStudentByRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentByRange" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetAllStudentByRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStudentByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentWithAcc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentWithAcc" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentWithAcc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentWithAccResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentWithLikleyName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentWithLikleyName" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GetStudentWithLikleyName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentWithLikleyNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="GetAllStudentByRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetAllStudentByRange" message="tns:IStudentService_GetAllStudentByRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetAllStudentByRangeResponse" message="tns:IStudentService_GetAllStudentByRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentWithAcc">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentWithAcc" message="tns:IStudentService_GetStudentWithAcc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentWithAccResponse" message="tns:IStudentService_GetStudentWithAcc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentWithLikleyName">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GetStudentWithLikleyName" message="tns:IStudentService_GetStudentWithLikleyName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GetStudentWithLikleyNameResponse" message="tns:IStudentService_GetStudentWithLikleyName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStudentByRange">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetAllStudentByRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentWithAcc">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentWithAcc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentWithLikleyName">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GetStudentWithLikleyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://eltayeb2-001-site1.gtempurl.com/students/StudentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>