Inserter/Service References/ServiceReference1/StudentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ISchool.WebService.Students" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ISchool.WebService.Students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Place8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject8" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
</xs:schema>